.book {

  &__header {
    margin-bottom: 16px;
  }

  &__container {
    @include laptop {
      display: flex;
      gap: 50px;
    }
  }

  &__wrapper {
    width: 168px;
    margin: 0 auto 20px;

    @include tablet {
      flex-shrink: 0;
      width: 300px;
    }
  }

  &__img {
    border-radius: 6px;
    @include laptop {
      margin-bottom: 20px;
    }
  }

  &__label {
    background-color: var(--color-light);
    border-radius: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    height: 50px;
    width: 100%;
    max-width: 320px;
    border: none;

    &_img {
      display: none;

      @include laptop {
        display: block;
      }
    }
  }

  &__content {
    color: var(--color-light);
  }

  &__title {
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 4px;

    @include laptop {
      font-size: 40px;
      line-height: 49px;
    }
  }

  &__author {
    color: var(--color-secondory);
    font-size: 14px;
    line-height: 120%;
    margin-bottom: 15px;

    @include laptop {
      font-size: 18px;
    }
  }

  &__rating {
    display: flex;
    gap: 1px;
    margin-bottom: 15px;
  }

  &__rating-star {
    width: 36px;
    height: 36px;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    margin-bottom: 4px;
  }

  &__description {
    font-size: 12px;
    line-height: 130%;
  }

  &__footer {
    display: none;
  }
}
